<h1 class="space-on-top">Listing statuses</h1>

<table>
  <thead>
    
  </thead>

  <tbody>

    <% @statuses.each do |status| %>
      <tr>
        <td><%= link_to image_tag(status.user.gravatar_url), profile_path(status.user) %></td>
        <td><%= status.user.full_name %></td>
        <td><%= status.content %></td>
        <td><%= link_to 'Show', status %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
        <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_status_path %>
