<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

<body>
   <div class="contain-to-grid">
       <nav class="top-bar" data-topbar role="navigation">
         <ul class="title-area">
           <li class="name">
             <h1><a href="#">Treebook</a></h1>
           </li>
         </ul>
         <section class="top-bar-section">
           <ul class="left">
             <li class=""><%= link_to "All Statuses", feed_path %></li>
           </ul>
           <ul class="right">
            <% if user_signed_in? %>
                <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
                <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
               <li><%= link_to "Register", register_path %></li>
                <li><%= link_to "Log In", login_path %>
             <% end %>
           </ul>
         </section>
       </nav>
     </div>

       <div class="row">
         <div class="small-12 small-centered column">
           <% flash.each do |type, message| %>
            <div class="alert-box <%= flash_class(type) %>  radius">
              <a href="#" class="close">&times;</a>
              <%= message %>
            </div>
           <% end %>

           <%= yield %>
           <%= javascript_include_tag "application" %>
         </div>
       </div>
  </body>

</html>